<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  {% seo %}
  <!-- Head Scripts -->
  <script src="{% asset_path head.js %}"></script>
  {% capture critical %}{% include critical.min.scss %}{% endcapture %}
  <link rel="stylesheet" href="{{ site.url }}/css/un.style.css">
  <style>
    {{ critical | scssify }}
    {% if page.home %}
      {% capture homecriticalcss %}
        {% include homecritical.scss %}
      {% endcapture %}
      {{ homecriticalcss | scssify }}
    {% endif %}
  </style>
  
  <link rel="shortcut icon" href="{{ site.url }}/img/icons/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{{ site.url }}/img/icons/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/img/icons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/img/icons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/img/icons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/img/icons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/img/icons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/img/icons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/img/icons/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/img/icons/apple-touch-icon-180x180.png" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Font Awesome 
  <script src="https://use.fontawesome.com/924d12c216.js"></script>--> 
  <!-- Custom Fonts 
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,700|Roboto+Condensed:300|Raleway:400,700" rel="stylesheet" /> --> 
  </head>