{% include core-scripts.html %}
<!-- Fonts
  <script type="text/javascript" src="{% asset_path fontfaceobserver.js %}"></script>-->
  <script>
    var j4 = new FontFaceObserver('Josefin Slab', {weight: 400});
    var j7 = new FontFaceObserver('Josefin Slab', {weight: 700});
    var rc3 = new FontFaceObserver('Roboto Condensed', {weight: 300});
    var ra4 = new FontFaceObserver('Raleway', {weight: 400});
    var ra7 = new FontFaceObserver('Raleway', {weight: 700});

    Promise.all([j4.load(), j7.load(), rc3.load(), ra4.load(), ra7.load()]).then(function () {
    console.log('Fonts have been loaded');
  });
  </script>

<!-- Cloudinary 
<script aync src="{% asset_path cloudinary-jquery.js %}"></script>--> 
<script type="text/javascript">
   $.cloudinary.config({"api_key":"619824693495266","cloud_name":"krvmedia"});
</script>
<script type="text/javascript">$.cloudinary.responsive()</script>

<script>
    $(window).scroll(function() {
      if($(this).scrollTop() > 500) {
          $('#home-nav').addClass('opaque');
          } else {
              $('#home-nav').removeClass('opaque');
          }
      });

    var offset = 600;
    var duration = 300;
    $(window).scroll(function() {
        if($(this).scrollTop() > offset) {
            $('#go-up').addClass('opaque');
        } else {
            $('#go-up').removeClass('opaque');
        }
    });
  </script>
  <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->