//Fonts
$Raleway: 'Raleway',  sans-serif;
$Josefin: 'Josefin Slab',  serif;
$Roboto: 'Roboto Condensed', sans-serif;

$default-font: Helvetica, Arial, sans-serif;

//Colors
$lightest-color: #f2f2f2;
$lighter-color: #f9f9f9;
$light-color: #e2e2e2;
$primary-color: #ffaa00;
$secondary-color: #5bc0de;
$tertiary-color: #46b8da;
$hover-color: #0065ff;
$my-gray1: #262626;
$dark-gray: #333333;
$darker-gray: #111;

$facebook-color: #3B5998;
$google-color: #D34836; 
$linkedin-color: #1C87BD; 
$envelope-color: #444444; 
$reddit-color: #FF5700;
$twitter-color: #1DA1F2; 
$soundcloud-color: #FF6500;

//Showcase
$box-dimension: 300px;

//Media Queries
$grey-matter: 320px 480px;
$echo: 481px 768px;
$ben: 769px 1024px;
$gwen: 1025px 1439px;
$four-arms: 1440px 1919px;
$way-big: 1920px 2560px;
$ridiculous: 2561px;

$jerry: max-width 768px;
$droopy: max-width 991px;
$tom: 992px;
$spike: 1200px;

$subscribe-box: 600px 770px;
